#solid-bckg {
    background-color: #CCCCCC;
    margin: 0px;
    padding: 0px;
    height: 100%;
    margin-bottom: 0px;
}
.grn-hdr {
    background-color: #95CC39;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}
.grn-hdr a:hover {
    text-decoration: underline;
    color: white;
}
#second-line {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 580;
    margin: 0 auto;
}
    .location-group {
        margin-bottom: 5px !important;
    }
    #search-bar {
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        border: white solid 1px;
        margin: 0px;
        margin-top: 5px;
        font-size: 15px;
    }
    #search-btn {
        color: white;
        border: solid white 1px;
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        margin-top: 5px;
        opacity: 1 !important;
    }
        #search-btn:hover {
        color: #95CC39;
        background-color: white;
        opacity: 0.9;
        }
.three-btns {
    margin: 0 auto;
    margin-top: 5px;
}
    .h-butns {
        color: white;
        border: solid white 1px;
        background-color: #95CC39 !important;
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        font-family: Roboto, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 15px;
        padding-right: 15px;
    }
        .h-butns:hover {
            color: white !important;
            background-color: transparent !important; 
            border: solid white 1px;
        } 
#map-div {
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    padding: 10px;
    width: 100%;
    max-width: 580px;
    min-height: 250px;
    background-color: white;
}
    .map {
        width: 100%;
        height: 100%;
        border: rgba(0, 0, 0, 0.541) solid 0.7px;
        box-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    }
.parking-cards {
    width: 100%;
    max-width: 580px;
    background-color: white;
    margin: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    padding: 15px;
    padding-top: 10px;
}       
    .parking-cards h4 {
        color: #95CC39;
        font-weight: 600;
        font-size: 40px; 
        font-family: 'Cookie', Helvetica, sans-serif;
        margin-bottom: 2px;
    }
    #instructions {
        font-size: 15px;
    }
    .individual-cards {
        padding: 0px;
    }
        #near-park {
            font-size: 12px;
        }
.Pay-Now {
    color: white;
    padding: 5px;
    background-color: orangered;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    }
    .Pay-Now-Disabled {
    background-color: gray;
    }

/* ============================================== */
/* MEDIA QUERIES */
/* ============================================== */

/* Largest Devices */
@media only screen and (min-width : 1200px) {
    #search-bar {
        margin: 0px;
        margin-top: 5px;
        font-size: 15px;
    }
    #search-btn {
        font-size: 15px;
    }
    .h-butns {
        font-size: 15px;
    }
    .parking-cards {
        margin-bottom: 150px;
        padding: 60px;
    }       
        #instructions {
            font-size: 15px;
        }
            #near-park {
                font-size: 15px;
            }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #search-bar {
        margin: 0px;
        margin-top: 5px;
        font-size: 15px;
    }
    #search-btn {
        font-size: 15px;
    }
    .h-butns {
        font-size: 15px;
    }
    .parking-cards {
        margin-bottom: 150px;
        padding: 60px;
    }       
        #instructions {
            font-size: 15px;
        }
            #near-park {
                font-size: 15px;
            }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #search-bar {
        margin: 0px;
        margin-top: 5px;
        font-size: 15px;
    }
    #search-btn {
        font-size: 15px;
    }
    .h-butns {
        font-size: 15px;
    }
    .parking-cards {
        margin-bottom: 150px;
        padding: 60px;
    }       
        #instructions {
            font-size: 15px;
        }
            #near-park {
                font-size: 15px;
            }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #search-bar {
        margin: 0px;
        margin-top: 5px;
        font-size: 15px;
    }
    #search-btn {
        font-size: 15px;
    }
    .h-butns {
        font-size: 15px;
    }
    .parking-cards {
        margin-bottom: 150px;
        padding: 60px;
    }       
        #instructions {
            font-size: 15px;
        }
            #near-park {
                font-size: 15px;
            }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #search-bar {
        margin-top: 5px;
        font-size: 15px;
    }
    #search-btn {
        font-size: 15px;
    }
    .h-butns {
        font-size: 15px;
    }
    .parking-cards {
        margin-bottom: 50px;
        padding: 15px;
    }    
        #instructions {
            font-size: 15px;
        }
            #near-park {
                font-size: 15px;
            }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    #search-bar {
        font-size: 13px;
        margin-top: 5px;
    }
    #search-btn {
        font-size: 13px;
    }
    .h-butns {
        font-size: 13px;
    }
    .parking-cards {
        margin-bottom: 50px;
        padding: 15px;
    }      
        #instructions {
            font-size: 15px;
        }
            #near-park {
                font-size: 12px;
            }
}