.welcome-alert {
    background-color: rgb(241, 248, 255);
    opacity: 0.8;
    margin-top: 0px;
    width: 100%;
    margin: 0 auto;
}
.park-btn-div {
    margin-bottom: 40px;
}
.park-btn {
    color: white;
    border: solid white 1px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-right: 7px;
    margin-left: 7px;
}
.park-btn:hover {
    color: #95CC39 !important;
    background-color: white !important; 
    border: solid white 1px;
}

 
/* ============================================== */
/* MEDIA QUERIES */
/* ============================================== */

/* Largest Devices */
@media only screen and (min-width : 1200px) {
    .welcome-alert {
        width: 40%;
        margin-top: 40px;
    }
    .park-btn-div {
        margin-bottom: 60px;
    }
        .park-btn {
            padding-left: 25px !important;
            padding-right: 25px !important;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: normal;
            font-size: 20px;
            margin-bottom: 10px;
            margin-right: 7px;
            margin-left: 7px;
        }
  }
  
  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    .welcome-alert {
        width: 50%;
        margin-top: 30px;
    }
    .park-btn-div {
        margin-bottom: 60px;
    }
        .park-btn {
            padding-left: 25px !important;
            padding-right: 25px !important;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: normal;
            font-size: 20px;
            margin-bottom: 10px;
            margin-right: 7px;
            margin-left: 7px;
        }
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    .welcome-alert {
        width: 60%;
        margin-top: 30px;
    }
    .park-btn-div {
        margin-bottom: 60px;
    }
        .park-btn {
            padding-left: 25px !important;
            padding-right: 25px !important;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: normal;
            font-size: 20px;
            margin-bottom: 10px;
            margin-right: 7px;
            margin-left: 7px;
        }
  }
  
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    .welcome-alert {
        width: 80%;
    }
    .park-btn-div {
        margin-bottom: 40px;
    }
        .park-btn {
            padding-left: 25px !important;
            padding-right: 25px !important;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 20px;
        }
  }
  
  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .welcome-alert {
        width: 90%;
        margin-top: 10px;
    }
    .park-btn-div {
        margin-bottom: 40px;
    }
        .park-btn {
            padding-left: 22px !important;
            padding-right: 22px !important;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 15px;
        }
  }
  
  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px)
   {
    .welcome-alert {
        width: 100%;
        font-size: 14px;
    }
    .park-btn-div {
        margin-bottom: 40px;
    }
        .park-btn {
            padding-left: 17px !important;
            padding-right: 17px !important;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 12px;
        }
}