.park-btn-div {
    margin-bottom: 40px;
}

.park-btn {
    color: white;
    border: solid white 1px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-right: 7px;
    margin-left: 7px;
}
.park-btn:hover {
    color: #95CC39 !important;
    background-color: white !important; 
    border: solid white 1px;
}
