#main-body {
  height: 100%;
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px;
  margin-left: 0px;   
}

#full-body {
  padding: 0px !important;
}


Button {
  box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}
Button:active {
  border: none;
}
img {
  box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}

.App {
  text-align: center;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
