#solid-bckg {
    background-color: #CCCCCC;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: stretch;
}

.grn-hdr {
    background-color: #95CC39;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}
.grn-hdr a:hover {
    text-decoration: underline;
    color: white;
}


#favorites-div {
    margin: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}
    #fav-spacer {
        background-color: white;
        margin: 0px;
        margin-bottom: 40px;
        padding: 15px;
        box-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    }


