#solid-bckg {
    background-color: #CCCCCC;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: fill;
}

.grn-hdr {
    background-color: #95CC39;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}
.grn-hdr a:hover {
    text-decoration: underline;
    color: white;
}




#activity-div {
    margin: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}
    #spacer {
        background-color: white;
        margin: 0px;
        margin-bottom: 40px;
        padding: 15px;
        box-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    }


.new-btn-div {
    margin-bottom: 45px;
}
    .new-btn {
        color: white;
        background-color: #95CC39;
        border: solid white 1px;
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        padding-left: 80px !important;
        padding-right: 80px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
    }
    .new-btn:hover {
        color: white;
        background-color: transparent; 
        border: solid white 1px;
    }