#solid-bckg {
    background-color: #CCCCCC;
    margin: 0px;
    padding: 0px;
    height: 100%;
    margin-bottom: 0px;
}

.grn-hdr {
    background-color: #95CC39;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}
.grn-hdr a:hover {
    text-decoration: underline;
    color: white;
}

#second-line {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
    #search-bar {
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        border: white solid 1px;
    }
    #search-button {
        color: white;
        border: solid white 1px;
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
    }
        #search-button:hover {
        color: #95CC39;
        background-color: white;
        opacity: 0.9;
        }
.btn-group {
    margin: 0 auto;
}
    .home-buttons {
        color: white;
        border: solid white 1px;
        background-color: #95CC39 !important;
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        font-family: Roboto, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
    }
        .home-buttons:hover {
            color: white !important;
            background-color: transparent !important; 
            border: solid white 1px;
        } 

#search-div {
    margin: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.new-btn-div {
    margin-bottom: 45px !important;
}
    .new-btn {
        color: white;
        background-color: #95CC39;
        border: solid white 1px;
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        padding-left: 80px !important;
        padding-right: 80px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
    }
    .new-btn:hover {
        color: white;
        background-color: transparent; 
        border: solid white 1px;
    }

    .StripeElement {
        background-color: white;
        height: 40px;
        padding: 10px 12px;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
      }
      
      .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
      }
      
      .StripeElement--invalid {
        border-color: #fa755a;
      }
      
      .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
      }