#solid-bckg {
    background-color: #CCCCCC;
    margin: 0px;
    padding: 0px;
    height: 100%;
    margin-bottom: 0px;
}

.grn-hdr {
    background-color: #95CC39;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}
.grn-hdr a:hover {
    text-decoration: underline;
    color: white;
}

#btn-line {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
}
    #search-bar {
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        border: white solid 1px;
    }
    #search-button {
        color: white;
        border: solid white 1px;
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
    }
        #search-button:hover {
        color: #95CC39;
        background-color: white;
        opacity: 0.9;
        }
.btn-group {
    margin: 0 auto;
}
    .home-buttons {
        color: white;
        border: solid white 1px;
        background-color: #95CC39 !important;
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        font-family: Roboto, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
    }
        .home-buttons:hover {
            color: white !important;
            background-color: transparent !important; 
            border: solid white 1px;
        } 

#form-div {
    margin: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    width: 100%;
}
    #n-s-div {
        margin: 15px;
        border: solid white 1px;
        box-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    }

#submit-button {
    color: white;
    background-color: #95CC39;
    border: solid white 1px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px;
}
    #submit-button:hover {
        color: #95CC39;
        background-color: transparent; 
        border: solid #95CC39 1px;
    }
    
input {
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.8);
    
}