.full-body {
    height: 100%;
}

.simple-btn {
    color: white;
    border: solid white 1px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 80px;
    margin-right: 7px;
    margin-left: 7px;
}
.simple-btn:hover {
    color: #95CC39 !important;
    background-color: white !important; 
    border: solid white 1px;
}

#sign-in {
    margin-right: 150px;
}
#sign-up {
    margin-left: 150px;
}

#title-description {
    color: white;
    /* font-family: 'Pacifico', Helvetica, sans-serif; */
    font-weight: normal;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 35px; 
    margin: 0;   
}



/* ============================================== */
/* MEDIA QUERIES */
/* ============================================== */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}