#card-block {
    /* display: inline; */
}
.border {
    border-color: #6c757d!important;
    background-color: rgb(252, 252, 252);
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
    /* max-width: 300px; */
}
.rental-img {
    margin-bottom: 10px;
    width: 90%;
}

/* ============================================== */
/* MEDIA QUERIES */
/* ============================================== */

/* Largest Devices */
@media only screen and (min-width : 1200px) {
    .border {
        max-width: 550px;
        margin-bottom: 30px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .border {
        max-width: 550px;
        margin-bottom: 30px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .border {
        max-width: 550px;
        margin-bottom: 30px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .border {
        max-width: 550px;
        margin-bottom: 15px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .border {
        margin-bottom: 0px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .border {
        margin-bottom: 0px;
    }
}