#solid-bckg {
    background-color: #CCCCCC;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: 100%;
    width: 100% !important;
}
.grn-hdr {
    background-color: #95CC39;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
    width: 100%;
}
.grn-hdr a:hover {
    text-decoration: underline;
    color: white;
}
.container {
    max-width: none;
}
#spots-div {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    max-width: none;
}
    #spacer {
        background-color: white;
        margin: 0px;
        margin-bottom: 40px;
        padding: 15px;
        box-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    }
.new-btn-div {
    margin-bottom: 45px;
}
    .new-btn {
        color: white;
        background-color: #95CC39;
        border: solid white 1px;
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        padding-left: 80px !important;
        padding-right: 80px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
    }
    .new-btn:hover {
        color: white;
        background-color: transparent; 
        border: solid white 1px;
    }
.py-4 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.py-4 h4 {
    color: #95CC39;
    font-weight: 600;
    font-size: 40px; 
    font-family: 'Cookie', Helvetica, sans-serif;
    margin-bottom: 2px;
}

/* ============================================== */
/* MEDIA QUERIES */
/* ============================================== */

/* Largest Devices */
@media only screen and (min-width : 1200px) {
    .border {
        max-width: 550px;
    }
    #spots-div {
        margin-top: 25px !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .border {
        max-width: 550px;
    }
    #spots-div {
        margin-top: 25px !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .border {
        max-width: 550px;
    }
    #spots-div {
        margin-top: 25px !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .border {
        max-width: 550px;
    }
    #spots-div {
        margin-top: 20px !important;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #spots-div {
        margin-top: 15px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    #spots-div {
        margin-top: 15px;
    }
}