#top-line {
    /* line-height: 40px; */
    padding: 5px;
    width: 100%;
    margin: 0;
    padding-top: 10px;
}
    #options {
        width: 80%;
    }
        .activity {
            font-family: Roboto, sans-serif;
            font-weight: normal;
            font-size: 18px !important;
            color: white;
            text-transform: uppercase;
            margin-left: 25px;
        }
        .activity:hover {
            color: #95CC39;
            text-decoration: underline !important;
        }
    .navbar-brand.icons {
        margin-left: 10px;
        margin-right: 10px;
    }    
    .home-icon {
        font-size: 30px !important;
        color: #61695E;
        margin-left: 5px;
    }
    .home-icon:hover {
        /* transform: rotate(-10deg); */
        /* font-size: 33px !important; */
        color: rgb(126, 134, 123);
    }

#home-nav {
    width: 100%;
    padding-top: 60px;
    background-color: transparent;
    /* box-shadow: 4px 4px 3px rgba(0,0,0,0.1); */
    height: 60px;
}
    #home-title {
        color: #95CC39;
        text-shadow: 1.5px 1.5px rgb(182, 181, 181);
        font-weight: 400;
        font-size: 80px; 
        /* font-family: 'Pacifico', Helvetica, sans-serif; */
        font-family: 'Cookie', Helvetica, sans-serif;
        /* text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05); */
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.336); 
    }

#btn-back {
    color: transparent;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    box-shadow: none !important;
}
