#solid-bckg {
    background-color: #CCCCCC;
    margin: 0px;
    padding: 0px;
    height: 100%;
    margin-bottom: 0px;
    width: 100% !important;
}
.grn-hdr {
    background-color: #95CC39;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
    width: 100%;
}
    .grn-hdr a:hover {
        text-decoration: underline;
        color: white;
    }
#second-line {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
    .search-group {
        margin-bottom: 0px !important;
    }
        #search-add {
            box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
            border: white solid 1px;
            margin-right: 0px;
            margin-top: 5px;
            margin-left: 0px;
            padding-right: 0px;
            padding-left: 10px;
            font-size: 13px;
            width: 80px;
        }
        #search-zip {
            box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
            border: white solid 1px;
            margin-right: 0px;
            margin-top: 5px;
            margin-left: 0px;
            padding-left: 10px;
            padding-right: 0px;
            font-size: 13px;
        }
        #search-button {
            color: white;
            border: solid white 1px;
            box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
            font-family: Roboto, sans-serif;
            font-weight: bold;
            font-size: 13px;
            text-transform: uppercase;
            margin-top: 5px;
        }
            #search-button:hover {
            color: #95CC39;
            background-color: white;
            opacity: 0.9;
            }
#third-line {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
    #cDate {
        box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        border: white solid 1px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 5px;
        margin-left: 0px;
        font-size: 13px;
    }
#search-div {
    margin: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 250px;
}
    #rental-card-block {
    }
        #error-card {
            box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
            /* color: #D04C4C; */
            border: solid 1px #D04C4C;
            padding: 10px;
        }
            .error-img {
                box-shadow: none;
                width: 40%;
                margin: 0 auto;
                margin-top: 5px;
            }
        .border {

        }
            #spot-title {
                font-weight: bold;
            }        
            .rent-img {

            }
            .rental-details {

            }
/* Availability */
.false {
    width: 10%;
    height: 14px;
    display: inline-block;
    align-self: center;
    border-radius: 3px;
    margin: 2px;
    padding: 0px;
    padding-left: 3px;
    color: white;
    font-weight: normal;
    font-size: 10px;
    background-color: rgb(184, 63, 63);
}
.true {
    width: 10%;
    height: 14px;
    display: inline-block;
    align-self: center;
    border-radius: 3px;
    margin: 2px;
    padding: 0px;
    padding-left: 3px;
    color: white;
    font-weight: normal;
    font-size: 10px;
    background-color: rgb(64, 170, 58);
}
.temp {
    width: 10%;
    height: 14px;
    display: inline-block;
    align-self: center;
    border-radius: 3px;
    margin: 2px;
    padding: 0px;
    padding-left: 3px;
    color: white;
    font-weight: normal;
    font-size: 10px;
    background-color: rgb(47, 150, 187);
}


/* ============================================== */
/* MEDIA QUERIES */
/* ============================================== */

/* Largest Devices */
@media only screen and (min-width : 1200px) {
   
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}